<div class="parentDiv">
  <div class="create-product">
    <div class="header">
      <div class="topHeading">Add Product</div>
      <div class="topBtn">
        <div class="cancelBtn" (click)="goBack()">
          <i class="fa fa-thin fa-xmark"></i>
          Cancel
        </div>
        <div class="addBtn">
          <i class="fa fa-thin fa-plus"></i>
          Add Product
        </div>
      </div>
    </div>
    <div class="body row">
      <div class="leftPart col-md-8">
        <div class="generalInformation">
          <p-card>
            <div class="heading">General Information</div>
            <div class="productName">
              <label for="productName">Product Name</label>
              <!-- <input type="text" placeholder="Type Product name here ..." /> -->
              <input
                type="text"
                class="form-control"
                name="productName"
                id="productName"
                required
                minlength="1"
                maxlength="32"
                #SkuEl
                placeholder="Type Product name here ..."
              />
            </div>

            <div class="form-group row inputWithLabel">
              <label class="col-form-label" for="description">
                {{ " Description" | localize }}
              </label>
              <textarea
                type="text"
                class="form-control"
                name="description"
                id="description"
                rows="7"
                placeholder="Type product description here. . ."
              >
              </textarea>
            </div>
          </p-card>
        </div>
        <div class="inventoryCategory row">
          <p-card class="inventory col-6">
            <div class="topHeading">Inventory</div>
            <div class="quantity">
              <label for="quantity">Quantity</label>
              <input
                type="text"
                class="form-control"
                name="quantity"
                id="quantity"
                required
                minlength="1"
                maxlength="32"
                #SkuEl
                placeholder="Type Product Quantity here ..."
              />
            </div>
            <div class="Barcode">
              <label for="barcode">Barcode</label>
              <input
                type="text"
                class="form-control"
                name="barcode"
                id="barcode"
                required
                minlength="1"
                maxlength="32"
                #SkuEl
                placeholder=" Product Barcode ..."
              />
            </div>
          </p-card>

          <p-card class="categoty col-6">
            <div class="topHeading">Category</div>
            <div class="categoty inputWithLabel">
              <label class="col-form-label" for="categoty">
                {{ "Product Categoty" | localize }}
              </label>
              <p-dropdown
                optionLabel="categoty"
                optionValue="value"
                placeholder="Select a Categoty"
                class="fullWidth"
                required
                name="categoty"
              />
            </div>
            <div class="productTag inputWithLabel">
              <label class="col-form-label" for="productTag">
                {{ "Product Tag" | localize }}
              </label>
              <p-dropdown
                optionLabel="productTag"
                optionValue="value"
                placeholder="Select tags"
                class="fullWidth"
                required
                name="productTag"
              />
            </div>
          </p-card>
        </div>
        <div class="pricing">
          <p-card class="discountSection">
            <div class="topHeading">Pricing</div>
            <div class="basePrice">
              <label for="basePrice">Base Price</label>
              <input
                type="text"
                class="form-control"
                name="basePrice"
                id="basePrice"
                required
                minlength="1"
                maxlength="32"
                #SkuEl
                placeholder="Type discount Percentage"
              />
            </div>
            <div class="inventoryCategory row">
              <div class="discount inputWithLabel col-6">
                <label class="col-form-label" for="discount">
                  {{ "Discount Type" | localize }}
                </label>
                <p-dropdown
                  optionLabel="discount"
                  optionValue="value"
                  placeholder="Select a discount type"
                  class="fullWidth"
                  required
                  name="discount"
                />
              </div>
              <div class="duscPercentage col-6">
                <label for="duscPercentage">Discount Percentage (%)</label>
                <input
                  type="text"
                  class="form-control"
                  name="duscPercentage"
                  id="duscPercentage"
                  required
                  minlength="1"
                  maxlength="32"
                  #SkuEl
                  placeholder="Type discount Percentage"
                />
              </div>
            </div>
          </p-card>
        </div>
      </div>
      <div class="rightPart col-md-3">
        <p-card class="statusSection">
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div class="mediaHeading">Status</div>
            <div class="showStatus">
              <p-tag severity="secondary" value="Draft" />
            </div>
          </div>
          <div class="productStatus inputWithLabel">
            <label class="col-form-label" for="categoty">
              {{ "Product Status" | localize }}
            </label>
            <p-dropdown
              optionLabel="productStatus"
              optionValue="value"
              placeholder="Select Status"
              class="fullWidth"
              required
              name="productStatus"
            />
          </div>
        </p-card>
        <p-card>
          <div class="mediaHeading">Media</div>
          <label class="col-form-label" for="productImage">
            {{ "Photo" | localize }}
          </label>
          <div class="">
            <div
              *ngFor="let image of uploadedImages; let i = index"
              class="uploadedImageItem"
            >
              <img [src]="image.url" class="img-preview" alt="Uploaded Image" />
              <div class="imageDetails">
                <span>{{ image.name }}</span>
                <span>{{ image.size }} KB</span>
              </div>
              <button class="removeImageBtn" (click)="removeImage(i)">
                <i class="fa fa-times" style="font-size: 10px"></i>
              </button>
            </div>

            <div
              class="uploadImgSection"
              (dragover)="onDragOver($event)"
              (dragleave)="onDragLeave($event)"
              (drop)="onDrop($event)"
            >
              <div class="imgIcon">
                <i
                  *ngIf="!uploadedImage"
                  class="fa fa-thin fa-image upload-icon imgIcon"
                ></i>
              </div>

              <div class="uploadImgText">
                Drag and drop image here, or click add image
              </div>
              <div class="addImgBtn" (click)="triggerFileInput()">
                Add Image
              </div>
            </div>

            <input
              type="file"
              class="form-control d-none"
              name="productImage"
              id="productImage"
              accept="image/*"
              #productImageEl
              (change)="onFileChange($event)"
            />

            <!-- <abp-validation-summary
              [controlEl]="productImageEl"
            ></abp-validation-summary> -->
          </div>
        </p-card>
        <!-- Thumbnail -->
        <p-card>
          <div class="mediaHeading">Thumbnail</div>
          <div>
            <div *ngIf="uploadedThumbnail" class="uploadedthumbnail">
              <img
                [src]="uploadedThumbnail"
                class="img-preview"
                alt="Uploaded Image"
              />
              <div class="imageDetails">
                <span>{{ uploadedFile?.name }}</span>
                <span>{{ uploadedFile?.size }} KB</span>
              </div>
              <button class="removeImageBtn">
                <i class="fa fa-times" style="font-size: 10px"></i>
              </button>
            </div>

            <!-- Add thumbnail section -->
            <div
              *ngIf="!uploadedThumbnail"
              class="uploadImgSection"
              (dragover)="onDragOver($event)"
              (dragleave)="onDragLeave($event)"
              (drop)="onDrop($event)"
            >
              <div class="imgIcon">
                <i class="fa fa-thin fa-image upload-icon imgIcon"></i>
              </div>
              <div class="addImgBtn" (click)="triggerThumbnailInput()">
                Add Image
              </div>
            </div>

            <!-- Hidden file input -->
            <input
              type="file"
              class="form-control d-none"
              name="productImage"
              id="productThumbnail"
              accept="image/*"
              #productImageEl
              (change)="onThumbnailChange($event)"
            />
          </div>
        </p-card>
      </div>
    </div>
    <!-- <form
      class="form-horizontal"
      autocomplete="off"
      #createProductForm="ngForm"
      (ngSubmit)="save()"
    >
      <div class="form-group">
        <label for="productName">Name</label>
        <input
          type="text"
          class="form-control"
          name="productName"
          id="productName"
          required
          minlength="2"
          maxlength="32"
        />
      </div>

      <div class="form-group">
        <label for="unitPrice">Unit Price</label>
        <input
          type="text"
          class="form-control"
          name="unitPrice"
          id="unitPrice"
          required
          minlength="1"
          maxlength="32"
        />
      </div>

      <div class="form-group">
        <label for="description">Product Description</label>
        <textarea
          class="form-control"
          name="description"
          id="description"
        ></textarea>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!createProductForm.form.valid || saving"
      >
        Save
      </button>
      <button type="button" class="btn btn-secondary">Cancel</button>
    </form> -->
  </div>
</div>
