<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid dashboardContainer">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div
            class="small-box"
            style="background-color: #313131; border-radius: 15px"
          >
            <div class="inner">
              <div class="cardLogo">
                <img
                  src="../../assets/admin-pannel/dashboardTab/dashboardRevenue.svg"
                />
              </div>
              <div class="totalSection">
                <div class="totalCount">Total Revenue</div>
                <div class="valueAndPercent">
                  <div class="value">75,500</div>
                  <div class="percent percentCard">+15%</div>
                </div>
              </div>
            </div>
            <div class="icon">
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div
            class="small-box"
            style="background-color: #313131; border-radius: 15px"
          >
            <div class="inner">
              <div class="cardLogo">
                <img
                  src="../../assets/admin-pannel/dashboardTab/totalOrders.svg"
                />
              </div>
              <div class="totalSection">
                <div class="totalCount">Total Orders</div>
                <div class="valueAndPercent">
                  <div class="value">1376</div>
                  <div class="percent percentCard">+15%</div>
                </div>
              </div>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div
            class="small-box"
            style="background-color: #313131; border-radius: 15px"
          >
            <div class="inner">
              <div class="cardLogo">
                <img
                  src="../../assets/admin-pannel/dashboardTab/totalCustomers.svg"
                />
              </div>
              <div class="totalSection">
                <div class="totalCount">Total Customers</div>
                <div class="valueAndPercent">
                  <div class="value">322</div>
                  <div class="percent percentCard">-25%</div>
                </div>
              </div>
            </div>
            <div class="icon">
              <i class="fas fa-tools"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div
            class="small-box"
            style="background-color: #313131; border-radius: 15px"
          >
            <div class="inner">
              <div class="cardLogo">
                <img
                  src="../../assets/admin-pannel/dashboardTab/totalProducts.svg"
                />
              </div>
              <div class="totalSection">
                <div class="totalCount">Total Products</div>
                <div class="valueAndPercent">
                  <div class="value">247</div>
                  <div class="percent percentCard">0%</div>
                </div>
              </div>
            </div>
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row graphSection">
        <p-card class="col-md-12">
          <div class="heading">Statictics</div>
          <div class="subHeading">
            <div class="left">Revenue and Sales</div>
            <div class="right legend">
              <div class="legend-item">
                <span class="circle" style="background-color: purple"></span>
                <span class="label">Revenue</span>
              </div>
              <div class="legend-item">
                <span class="circle" style="background-color: orange"></span>
                <span class="label">Sales</span>
              </div>
            </div>
          </div>
          <p class="m-0">
            <p-chart type="line" [data]="data" [options]="options" />
          </p>
        </p-card>
      </div>
      <div class="row recentOrdersSection">
        <div class="col-md-8">
          <p-card>
            <div class="recentOrdersSectionHead">
              <div class="recentOrdersSectionLeft">
                <div class="recentOrders">Recent Orders</div>
                <p-tag value="+2 Orders" severity="success" />
              </div>
              <div class="recentOrdersSectionRight">
                <input type="date" />
                <a class="filters">
                  <div class="filterIcon">
                    <img src="../../assets/filterIcon.svg" />
                  </div>
                  <div class="filterText">Filters</div>
                </a>
                <a href="" class="seeAllBtn">See All</a>
              </div>
            </div>
            <div class="table">
              <p-table [tableStyle]="{ 'min-width': '60rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="productName columnNames">
                      Product
                      <p-sortIcon field="productName" />
                    </th>
                    <th>
                      Customer
                      <!-- <p-sortIcon field="productCode" /> -->
                    </th>

                    <th pSortableColumn="productDescription">
                      Total
                      <p-sortIcon field="productDescription" />
                    </th>
                    <th pSortableColumn="productDescription">
                      Status
                      <p-sortIcon field="productDescription" />
                    </th>
                    <th>Actions</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                  <tr>
                    <td>{{ product.productName }}</td>
                    <td>
                      <!-- <p-avatar
                        [image]=""
                        styleClass="mr-2"
                        size="large"
                        shape="circle"
                      /> -->
                    </td>
                    <td>{{ product.productCode }}</td>
                    <td>{{ product.productDescription }}</td>
                    <td>
                      <button type="button" class="btn btn-sm bg-secondary">
                        <i class="fas fa-pencil-alt"></i>
                        {{ "Edit" }}
                      </button>
                      <button type="button" class="btn btn-sm bg-danger mx-2">
                        <i class="fas fa-trash"></i>
                        {{ "Delete" }}
                      </button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                  <div class="flex align-items-center justify-content-between">
                    <p-paginator
                      [rowsPerPageOptions]="[5, 10, 20, 30]"
                      [showCurrentPageReport]="true"
                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                    />
                  </div>
                </ng-template>
              </p-table>
            </div>
          </p-card>
        </div>
        <div class="col-md-4">
          <p-card class="customerGrowth">
            <div class="customerGrowthHeading">Customer Growth</div>
            <div class="customerGrowthsubHeading">Based on Country</div>
          </p-card>
        </div>
      </div>
    </div>
  </section>
</div>
