<div class="parentDiv">
  <div class="create-product">
    <div class="header">
      <div class="topHeading">Order Details</div>
      <div class="topBtn">
        <div class="cancelBtn">
          <i class="fa fa-thin fa-xmark"></i>
          Cancel
        </div>
        <a href="javascript:;" class="btn exportListBtn">
          <i class="fa fa-light fa-download"></i>
          {{ "Export" }}
        </a>
        <div class="addBtn">
          <i class="fa fa-thin fa-file-invoice"></i>
          Invoice
        </div>
      </div>
    </div>
    <div
      class="pageBody"
      style="display: flex; flex-direction: column; gap: 15px"
    >
      <div class="body row">
        <p-card class="col-md-4 cardContainer">
          <div class="cardHeader orderDetailsCard">
            <div class="orderNumber">
              {{ "Order #302011" }}
              <p-tag value="Processing" severity="warn" />
            </div>
            <div class="">
              <i class="fa fa-thin fa-pen"></i>
            </div>
          </div>
          <div class="cardDetails">
            <div class="dateDetails detailBar">
              <div class="leftSide">
                <div class="icon">
                  <i class="fa fa-solid fa-calendar"></i>
                </div>
                <div class="text">Added</div>
              </div>
              <div class="rightSide">
                <div class="date text">
                  {{ "12 Dec 2022" }}
                </div>
              </div>
            </div>
            <div class="paymentDetails detailBar">
              <div class="leftSide">
                <div class="icon">
                  <i class="fa fa-solid fa-calendar"></i>
                </div>
                <div class="text">Added</div>
              </div>
              <div class="rightSide">
                <div class="date text">
                  {{ "12 Dec 2022" }}
                </div>
              </div>
            </div>
            <div class="shippingMethod detailBar">
              <div class="leftSide">
                <div class="icon">
                  <i class="fa fa-solid fa-calendar"></i>
                </div>
                <div class="text">Added</div>
              </div>
              <div class="rightSide">
                <div class="date text">
                  {{ "12 Dec 2022" }}
                </div>
              </div>
            </div>
          </div>
        </p-card>
        <p-card class="col-md-4">
          <div class="cardHeader orderDetailsCard">
            <div class="orderNumber">
              {{ "Customer" }}
            </div>
          </div>
          <div class="cardDetails">
            <div class="dateDetails detailBar">
              <div class="leftSide">
                <div class="icon">
                  <i class="fa fa-solid fa-user"></i>
                </div>
                <div class="text">Customer</div>
              </div>
              <div class="rightSide">
                <div class="date text">
                  {{ "12 Dec 2022" }}
                </div>
              </div>
            </div>
            <div class="paymentDetails detailBar">
              <div class="leftSide">
                <div class="icon">
                  <i class="fa fa-solid fa-envelope"></i>
                </div>
                <div class="text">Email</div>
              </div>
              <div class="rightSide">
                <div class="date text">
                  {{ "joshadam@mail.com" }}
                </div>
              </div>
            </div>
            <div class="shippingMethod detailBar">
              <div class="leftSide">
                <div class="icon">
                  <i class="fa fa-solid fa-mobile"></i>
                </div>
                <div class="text">Phone</div>
              </div>
              <div class="rightSide">
                <div class="date text">
                  {{ "12 Dec 2022" }}
                </div>
              </div>
            </div>
          </div>
        </p-card>
        <p-card class="col-md-4">
          <div class="cardHeader orderDetailsCard">
            <div class="orderNumber">
              {{ "Address" }}
              <p-tag value="Processing" severity="warn" />
            </div>
          </div>
          <div class="cardDetails">
            <div class="dateDetails detailBar">
              <div class="leftSide">
                <div class="icon">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="text">Billing Address</div>
              </div>
              <div class="rightSide">
                <div class="date text">
                  {{ "12 Dec 2022" }}
                </div>
              </div>
            </div>
            <div class="paymentDetails detailBar">
              <div class="leftSide">
                <div class="icon">
                  <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="text">Shipping Added</div>
              </div>
              <div class="rightSide">
                <div class="date text">
                  {{ "12 Dec 2022" }}
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p-table [value]="" [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template pTemplate="caption">
              <div class="flex items-center justify-between">
                <span class="font-bold">Order List</span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="companyName">
                  Order Tracking Id
                  <p-sortIcon field="companyName" />
                </th>
                <th pSortableColumn="address">
                  Customer Id
                  <p-sortIcon field="address" />
                </th>

                <th pSortableColumn="state">
                  Shipper Id
                  <p-sortIcon field="state" />
                </th>
                <th pSortableColumn="state">
                  Payment Status
                  <p-sortIcon field="state" />
                </th>

                <!-- <th  pSortableColumn="email">Discount
                            <p-sortIcon field="email"/>
    
                          </th> -->
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
              <tr>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.customerId }}</td>
                <td>{{ order.shipperId }}</td>
                <td>
                  <p-tag
                    *ngIf="order.paid; else notPaid"
                    value="Paid"
                    severity="success"
                  ></p-tag>
                  <ng-template #notPaid>
                    <p-tag value="Not Paid" severity="danger"></p-tag>
                  </ng-template>
                </td>
                <td>
                  <!-- <button
                    type="button"
                    class="btn btn-sm bg-secondary"
                    (click)="editOrderDetail(order)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                    {{ "Edit" }}
                  </button> -->
                  <button type="button" class="btn btn-sm bg-danger mx-2">
                    <i class="fas fa-trash"></i>
                    {{ "Delete" }}
                  </button>
                  <div class="btn btn-sm" tooltipPosition="top">
                    <ng-template #tooltipContent>
                      <div class="flex align-items-center">
                        <span style="font-size: 12px">Order Details</span>
                      </div>
                    </ng-template>

                    <i class="fas fa-eye"></i>
                  </div>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">
                <!-- <p-paginator
                  [first]="first"
                  [rows]="rows"
                  [totalRecords]="totalRecords"
                  [rowsPerPageOptions]="[5, 10, 20, 30]"
                  [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                  (onPageChange)="onPageChange($event)"
                /> -->
              </div>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <!-- <form
      class="form-horizontal"
      autocomplete="off"
      #createProductForm="ngForm"
      (ngSubmit)="save()"
    >
      <div class="form-group">
        <label for="productName">Name</label>
        <input
          type="text"
          class="form-control"
          name="productName"
          id="productName"
          required
          minlength="2"
          maxlength="32"
        />
      </div>

      <div class="form-group">
        <label for="unitPrice">Unit Price</label>
        <input
          type="text"
          class="form-control"
          name="unitPrice"
          id="unitPrice"
          required
          minlength="1"
          maxlength="32"
        />
      </div>

      <div class="form-group">
        <label for="description">Product Description</label>
        <textarea
          class="form-control"
          name="description"
          id="description"
        ></textarea>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!createProductForm.form.valid || saving"
      >
        Save
      </button>
      <button type="button" class="btn btn-secondary">Cancel</button>
    </form> -->
  </div>
</div>
