.header {
  padding: 15px 0;
}
.parentDiv {
  padding: 10px 15px;
  color: #fafafa;
}
.topHeading {
  font-size: 20px;
  font-weight: 600;
  color: #313131;
  padding: 5px;
}
.topBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.cancelBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  border: 1px solid #9b9b9b;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #9b9b9b;
  border-radius: 8px;
  cursor: pointer;
}
.addBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  background-color: #eea520;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #eea520;
  cursor: pointer;
}
.leftPart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.heading {
  color: #313131;
}
.mediaHeading {
  color: #313131;
  font-weight: 600;
  font-size: 18px;
}
label {
  color: #313131;
  font-size: 14px;
  font-weight: 500;
}
.inputWithLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inventoryCategory {
  display: flex;
  justify-content: space-between;
}
::ng-deep .p-element .p-inputwrapper {
  width: 100% !important;
}
::ng-deep .p-element .p-inputtext {
  padding: 7px 10px !important;
  font-size: 13px !important;
}
input {
  font-size: 13px;
}
textarea {
  font-size: 13px;
}
.rightPart {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.uploadImgSection {
  border: 1px dashed #3131311a;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 7px;
}
.addImgBtn {
  padding: 5px 10px;
  box-sizing: border-box;
  color: white;
  border-radius: 8px;
  background-color: #9b9b9b;
  cursor: pointer;
}
.uploadImgText {
  color: #9b9b9b;
  font-size: 14px;
  text-align: center;
}
.imgIcon {
  font-size: 18px;
  color: white;
  background-color: #eea520;
  border-radius: 8px;
  padding: 8px;
}
.uploadedImageItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #3131311a;
  padding: 15px 7px;
}

.img-preview {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.imageDetails {
  flex: 1;
  font-size: 13px;
}

.removeImageBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #313131;
  background-color: #fafafa;
  /* border-radius: 50%; */
}
.exportListBtn {
  background-color: #eea5201a;
  color: #eea520;
  font-weight: 600;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.detailBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px;
  background-color: #eea5200d;
  border-radius: 7px;
}
.text {
  font-size: 14px;
  color: #313131;
}
.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.icon {
  padding: 8px 12px;
  border-radius: 50%;
  background-color: #9b9b9b1a;
}
::ng-deep .p-card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.orderNumber {
  color: #313131;
  font-weight: 600;
  font-size: 15px;
}
