@if (isMultiTenancyEnabled) {
<div class="text-start tenant-change-component px-4">
  <span>
    {{ "CurrentTenant" | localize }}: @if (tenancyName) {
    <span title="{{ name }}">
      <strong>{{ tenancyName }}</strong>
    </span>
    } @if (!tenancyName) {
    <div>{{ "NotSelected" | localize }}</div>
    }
    <div>
      (<a
        href="javascript:;"
        (click)="showChangeModal()"
        style="color: #eea520"
      >
        {{ "Change" | localize }} </a
      >)
    </div>
  </span>
</div>
}
