.mainHeading {
  color: #313131;
  font-size: 24px;
  font-weight: 600;
}
.topButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
}
.addProductBtn {
  background-color: #eea520;
  color: white;
}
.exportListBtn {
  background-color: #eea5201a;
  color: #eea520;
  font-weight: 600;
}
.searchSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #9b9b9b1a;
  background-color: white;
  padding: 0px 10px;
  border-radius: 8px;
  box-sizing: border-box;
}
.filterSearchDateRow {
  padding: 15px 0;
}
.searchInput {
  border: none;
}
::ng-deep .p-selectbutton .p-button.p-highlight {
  background-color: #eea5201a;
  color: #eea520;
}
::ng-deep .p-button:focus {
  box-shadow: none;
}
::ng-deep .p-element .p-inputtext {
  padding: 7px 10px !important;
  font-size: 13px !important;
}
.productData {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nameDesc {
  display: flex;
  flex-direction: column;
  /* align-items: ; */
  justify-content: flex-start;
}
.productName {
  color: #313131;
  font-size: 14px;
  font-weight: 500;
}
.productDescription {
  color: #9b9b9b;
  font-weight: 400;
  font-size: 12px;
}
.productId {
  font-size: 14px;
  color: #eea520;
  font-weight: 400;
}
.tableDataItem {
  color: #9b9b9b;
  font-size: 14px;
}
/* ::ng-deep .p-element .p-sortable-column {
  font-size: 14px;
  color: #313131;
  background-color: white !important;
  font-weight: 500;
} */
::ng-deep .p-datatable .p-datatable-thead {
  font-size: 14px;
  color: #313131;
  background-color: white !important;
  font-weight: 500;
}
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  font-size: 14px;
  color: #313131;
  background-color: white !important;
  font-weight: 500;
}
