.cardHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.status {
  color: #313131;
  font-size: 16px;
  font-weight: 500;
}
.icon {
  padding: 8px 12px;
  background-color: #eea520;
  border-radius: 50%;
}
.card {
  padding: 15px;
  margin: 8px;
}
.cardCount {
  color: #313131;
  font-weight: 600;
  font-size: 26px;
}
.cardBottom {
  display: flex;
  align-items: center;
  gap: 5px;
}
.exportListBtn {
  background-color: #eea5201a;
  color: #eea520;
  font-weight: 600;
}
