<div class="parent">
  <p-card class="card">
    <div class="categoryDetails">
      <div class="categoryName">
        <div class="label">Category Name :&nbsp;</div>
        <div class="value">
          {{ category.categoryName }}
        </div>
      </div>
      <div class="categoryDetails">
        <div class="categoryName">
          <div class="label">Category Description :&nbsp;</div>
          <div class="value">
            {{ category.description }}
          </div>
        </div>
      </div>
    </div>
    <div class="categoryThumbNail">
      <img [src]="category.categoryThumbnail" alt="" class="thumbnail" />
    </div>
  </p-card>
</div>
